body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #f5f5f5;
}

/* navbar content */
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    font-family: Lato;
    font-weight: bold;
    padding-left: 10%;
}

header * {
    color: #e16f5a;
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    text-decoration: none;
}

/* intro content */
.intro, h2 {
    font-family: Lato;
}

.intro {
    text-align: center;
    margin-top: 10%;
}

.intro p {
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

p, .mission-paragraph{
    font-family: Alice;
}

.intro-image {
    width: 100%;
    height: 400px;

    object-fit: cover;
    object-position: 100% 0;

}

/* mission content */
.mission {
    margin-top: 5%;
}

.mission-header {
    color: #e16f5a;
}

.mission-content {
    /* position: absolute; */
    width: 50%;
    height: 250.5px;
    background-color: white;
    z-index: 2;
    margin-left: 5%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}

.mission-image {
    width: 306px;
    height: 214px;
    /* position: absolute; */
    z-index: 1;
    margin-left: 63%;
    margin-top: 3%;
}

/* impact content */
.impact {
    background-color: #89b7b9;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.impact-content {
    padding-left: 10%;
    padding-right: 10%;
}

.impact-container {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}

.impact-column {
    display: inline-block;
    margin-right: 3%;
}

/* partners content */
.partners {
    margin-bottom: 4%;
    margin-top: 4%;
}

.partners-header {
    margin-left: 10%;
}

.partners-container {
    text-align: center;
}

.partners-column {
    display: inline-block;
    width: 40%;
    text-align: center;
}

.partners-image {
    width: 40%;
    height: auto;
}

.partners-column, .partners-image {
    margin-left: auto;
	margin-right: auto;
}

/* team section */
.team {
    text-align: center;
    color: white;
    background-color: #d57867;
    padding-top: 3%;
    padding-bottom: 4%;
}

.team-column {
    display: inline-block;
    width: 20%;
}

.image-cropper {
	display: block;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%
}

.team-image {
    height: auto;
    width: 100%;
}

.image-cropper, .team-image {
    margin-left: auto;
	margin-right: auto;
}

.role {
    font-style: italic;
    color: rgba(255, 255, 255, 0.61);
}

/* footer */
footer {
    padding-top: 10%;
    padding-bottom: 2%;
    text-align: center;
    background-color: black;
    color: white;
}






