body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #f5f5f5;
}

/* navbar content */
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: Lato, sans-serif;
    font-weight: bold;
    padding-left: 10%;
    z-index: 1;
}

header * {
    color: #e16f5a;
    display: inline;
}

header li {
    margin: 20px;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

header nav {
    float: right;
}

header li a {
    text-decoration: none;
}

header span {
    margin-right: 33%;
}

/* intro content */
.intro, h2 {
    font-family: Lato, sans-serif;
}

.intro {
    text-align: center;
    margin-top: 10%;
    color: #363636;
}

.intro h1 {
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.intro p {
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

p, .mission-paragraph{
    font-family: Alice, serif;
}

.intro-image {
    width: 100%;
    height: 525px;

    object-fit: cover;
    object-position: 100% 0;
}

/* mission content */
#mission {
    margin-top: 3%;
    display: inline-block;
    position: relative;
    margin-bottom: 3%;
}

.mission-header {
    color: #e16f5a;
}

.mission-content {
    width: 65%;
    height: 250.5px;
    background-color: white;
    margin-left: 6%;
    padding-left: 4%;
    padding-top: 2%;
    float: left;
}

.mission-paragraph {
    margin-right: 20%;
}

.mission-image {
    width: 356px;
    height: 250px;
    right: 15px;
    position: absolute;
    margin-top: 4%;
    top: -26px;
}

/* impact content */
#impact {
    background-color: #89b7b9;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.impact-content {
    padding-left: 10%;
    padding-right: 10%;
}

.impact-container {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}

.impact-column {
    display: inline-block;
    margin-right: 3%;
}

.impact-imgs {
    width: 62px;
    height: 75px;
    margin: auto;
    display: block;
}

/* partners content */
#partners {
    margin-bottom: 4%;
    margin-top: 4%;
}

.partners-header {
    margin-left: 10%;
}

.partners-container {
    text-align: center;
    /* display: flex; */
}

.partners-column {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.partners-image {
    width: 30%;
    height: auto;
}

.partners-column, .partners-image {
    margin-left: auto;
	margin-right: auto;
}

.partners-url {
    text-decoration: none;
}

/* team section */
#team {
    text-align: center;
    color: white;
    background-color: #d57867;
    padding-top: 3%;
    padding-bottom: 4%;
}

.team-container {
    display: flex;
}

.team-column {
    display: inline-block;
    width: 24%;
}

.image-cropper {
	display: block;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%
}

.team-image {
    height: auto;
    width: 100%;
}

.image-cropper, .team-image {
    margin-left: auto;
	margin-right: auto;
}

.role {
    font-style: italic;
    color: rgba(255, 255, 255, 0.61);
}

/* footer */
footer {
    padding-top: 7%;
    padding-bottom: 2%;
    text-align: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.74);
}