body {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

/* navbar content */
.team-name {
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e16f5a;
}

.nav-item {
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e16f5a;
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: white;
  }

/* intro content */
.intro, h2 {
    font-family: Lato;
}

.intro {
    text-align: center;
}

p, .mission-paragraph{
    font-family: Alice;
}

.intro-image {
    width: 100%;
    height: 400px;

    object-fit: cover;
    object-position: 100% 0;

}

/* mission content */
.mission {
    margin-top: 5%;
}

.mission-header {
    color: #e16f5a;
}

.mission-content {
    /* position: absolute; */
    width: 50%;
    height: 250.5px;
    background-color: white;
    z-index: 2;
    margin-left: 5%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}

.mission-image {
    width: 306px;
    height: 214px;
    /* position: absolute; */
    z-index: 1;
    margin-left: 63%;
    margin-top: 3%;
}

/* impact content */
.impact {
    background-color: #89b7b9;
    color: white;
}

.impact-container {
    display: flex;
}

.impact-column {
    display: inline-block;
    width: 30%;
}

/* partners content */
.partners {
    margin-bottom: 4%;
    margin-top: 4%;
}

.partners-container {
    text-align: center;
}

.partners-column {
    display: inline-block;
    width: 40%;
    text-align: center;
}

.partners-image {
    width: 40%;
    height: auto;
}

.partners-column, .partners-image {
    margin-left: auto;
	margin-right: auto;
}

/* team section */
.team {
    text-align: center;
    color: white;
    background-color: #d57867;
    padding-top: 3%;
    padding-bottom: 4%;
}

.team-column {
    display: inline-block;
    width: 20%;
}

.image-cropper {
	display: block;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%
}

.team-image {
    height: auto;
    width: 100%;
}

.image-cropper, .team-image {
    margin-left: auto;
	margin-right: auto;
}

.role {
    font-style: italic;
}

/* footer */
footer {
    padding-top: 10%;
    padding-bottom: 2%;
    text-align: center;
    background-color: black;
    color: white;
}






